In [14]:
import numpy as np
import pandas as pd

In [15]:
data = pd.read_csv("Inferential Statistics - Student Loan.csv",header=0)
data

,Customer No.,Exposure at Default (in lakh Rs.),Recovery (%),Probability of Default,Unnamed: 4,Unnamed: 5
0,1,11.50,20.00%,0.0070,NaN,NaN
1,2,0.24,5.10%,0.0033,NaN,NaN
2,3,0.04,24.86%,0.0022,NaN,NaN
3,4,13.81,2.29%,0.0066,NaN,NaN
4,5,19.84,3.47%,0.0020,NaN,NaN
...,...,...,...,...,...,...
9995,9996,19.79,20.19%,0.0079,NaN,NaN
9996,9997,18.33,38.38%,0.0068,NaN,NaN
9997,9998,10.83,28.40%,0.0037,NaN,NaN
9998,9999,24.29,37.37%,0.0056,NaN,NaN
9999,10000,0.03,22.55%,0.0032,NaN,NaN

In [16]:
data.drop(columns=["Unnamed: 4", "Unnamed: 5"],inplace=True)

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer No.                       10000 non-null  int64
 1   Exposure at Default (in lakh Rs.)  10000 non-null  float64
 2   Recovery (%)                       10000 non-null  object
 3   Probability of Default             10000 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 312.6+ KB

In [18]:
data["Recovery (%)"] = data["Recovery (%)"].str.replace('\%','')

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer No.                       10000 non-null  int64
 1   Exposure at Default (in lakh Rs.)  10000 non-null  float64
 2   Recovery (%)                       10000 non-null  object
 3   Probability of Default             10000 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 312.6+ KB

In [20]:
data["Recovery (%)"]= pd.to_numeric(data["Recovery (%)"])
data["Recovery (%)"] = data["Recovery (%)"] /100

In [21]:
data["expected loss"] = (data["Probability of Default"] * (1-data["Recovery (%)"]) 
                         * data["Exposure at Default (in lakh Rs.)"])

In [22]:
data["expected loss"]

0       0.064400
1       0.000752
2       0.000066
3       0.089059
4       0.038303
          ...
9995    0.124776
9996    0.076806
9997    0.028691
9998    0.085192
9999    0.000074
Name: expected loss, Length: 10000, dtype: float64

In [25]:
data.to_csv("Solution Inferential Statistics - Student Loan.csv")

In [35]:
(0.02*100) + (0.98 * 100 ) * 1/37

4.648648648648649

In [41]:
(37/38) * (-100) + (1/38) * (3500)

-5.26315789473685