# Data Frame

In [1]:
#All import

import numpy as np
import pandas as pd

### Example - 1

#### **Creating a Data Frame cars using raw data stored in a dictonary**

In [2]:
cars_per_cap = [809, 731, 588, 18, 200, 70, 45]
country = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
drives_right = [True, False, False, False, True, True, True]

In [3]:
data = {"cars_per_cap":cars_per_cap, "country":country,"drives_right":drives_right}

In [11]:
data

{'cars_per_cap': [809, 731, 588, 18, 200, 70, 45],
 'country': ['United States',
  'Australia',
  'Japan',
  'India',
  'Russia',
  'Morocco',
  'Egypt'],
 'drives_right': [True, False, False, False, True, True, True]}

In [12]:
type(data)

dict

In [7]:
cars = pd.DataFrame(data)

In [9]:
cars

   cars_per_cap        country  drives_right
0           809  United States          True
1           731      Australia         False
2           588          Japan         False
3            18          India         False
4           200         Russia          True
5            70        Morocco          True
6            45          Egypt          True

In [13]:
type(cars)

pandas.core.frame.DataFrame

### Example - 2(Reading data from a file)

#### **Create a Data Frame by importing cars data from cars.csv**

In [18]:
# Read a data from the file

cars_df = pd.read_csv('cars.csv')

cars_df

# By defualt pd.read_csv read and consider first row as a header

    USCA   US United States    809  FALSE
0  ASPAC  AUS     Australia  731.0   True
1  ASPAC  JAP         Japan  588.0   True
2  ASPAC   IN         India   18.0   True
3  ASPAC   RU        Russia  200.0  False
4  LATAM  MOR       Morocco   70.0  False
5    AFR   EG         Egypt   45.0  False
6    EUR  ENG       England    NaN   True

### Example - 3(Columns headers)

#### **Read File -  Skip header**

In [3]:
cars_df = pd.read_csv('cars.csv',header=None) 
cars_df

       0    1              2      3      4
0   USCA   US  United States  809.0  False
1  ASPAC  AUS      Australia  731.0   True
2  ASPAC  JAP          Japan  588.0   True
3  ASPAC   IN          India   18.0   True
4  ASPAC   RU         Russia  200.0  False
5  LATAM  MOR        Morocco   70.0  False
6    AFR   EG          Egypt   45.0  False
7    EUR  ENG        England    NaN   True

#### Assign Header

In [4]:
# Current col name
cars_df.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [5]:
# Rename Headers

cars_df.columns = ['country code','region', 'country name', 'car_per_cap', 'drive_right']

In [6]:
cars_df

  country code region   country name  car_per_cap  drive_right
0         USCA     US  United States        809.0        False
1        ASPAC    AUS      Australia        731.0         True
2        ASPAC    JAP          Japan        588.0         True
3        ASPAC     IN          India         18.0         True
4        ASPAC     RU         Russia        200.0        False
5        LATAM    MOR        Morocco         70.0        False
6          AFR     EG          Egypt         45.0        False
7          EUR    ENG        England          NaN         True

### Example - 4(Rowindex/names)

#### **Read file - skip header and assign first column as index**

In [8]:
# Index is returned by

cars_df.index

RangeIndex(start=0, stop=8, step=1)

In [12]:
# Read file and set 1st column as index
cars_df = pd.read_csv('cars.csv',header=None, index_col= 0) 
cars_df

         1              2      3      4
0
USCA    US  United States  809.0  False
ASPAC  AUS      Australia  731.0   True
ASPAC  JAP          Japan  588.0   True
ASPAC   IN          India   18.0   True
ASPAC   RU         Russia  200.0  False
LATAM  MOR        Morocco   70.0  False
AFR     EG          Egypt   45.0  False
EUR    ENG        England    NaN   True

In [13]:
# Read file and set 1st column as index
cars_df = pd.read_csv('cars.csv',header=None, index_col= 0) 
 

# Set the column name
cars_df.columns = ['region', 'country name', 'car_per_cap', 'drive_right']
cars_df

      region   country name  car_per_cap  drive_right
0
USCA      US  United States        809.0        False
ASPAC    AUS      Australia        731.0         True
ASPAC    JAP          Japan        588.0         True
ASPAC     IN          India         18.0         True
ASPAC     RU         Russia        200.0        False
LATAM    MOR        Morocco         70.0        False
AFR       EG          Egypt         45.0        False
EUR      ENG        England          NaN         True

In [14]:
# Print the new index

cars_df.index

Index(['USCA', 'ASPAC', 'ASPAC', 'ASPAC', 'ASPAC', 'LATAM', 'AFR', 'EUR'], dtype='object', name=0)

#### **Rename the Index(in the top whos value is 0 (Zero)) Name**

In [15]:
cars_df.index.name = 'Country Code'

In [18]:
cars_df

             region   country name  car_per_cap  drive_right
Country Code
USCA             US  United States        809.0        False
ASPAC           AUS      Australia        731.0         True
ASPAC           JAP          Japan        588.0         True
ASPAC            IN          India         18.0         True
ASPAC            RU         Russia        200.0        False
LATAM           MOR        Morocco         70.0        False
AFR              EG          Egypt         45.0        False
EUR             ENG        England          NaN         True

#### **Delete the Index Name**

In [19]:
cars_df.index.name = None
cars_df

      region   country name  car_per_cap  drive_right
USCA      US  United States        809.0        False
ASPAC    AUS      Australia        731.0         True
ASPAC    JAP          Japan        588.0         True
ASPAC     IN          India         18.0         True
ASPAC     RU         Russia        200.0        False
LATAM    MOR        Morocco         70.0        False
AFR       EG          Egypt         45.0        False
EUR      ENG        England          NaN         True

#### Set Hierarchical Index

In [27]:
# Read file and set 1st column as index
cars_df = pd.read_csv('cars.csv',header=None) 
 

# Set the column name
cars_df.columns = ['country_code','region', 'country name', 'car_per_cap', 'drive_right']

cars_df.set_index(['region','country_code'], inplace=True)

In [29]:
# Now we have two index columns
cars_df

                      country name  car_per_cap  drive_right
region country_code
US     USCA          United States        809.0        False
AUS    ASPAC             Australia        731.0         True
JAP    ASPAC                 Japan        588.0         True
IN     ASPAC                 India         18.0         True
RU     ASPAC                Russia        200.0        False
MOR    LATAM               Morocco         70.0        False
EG     AFR                   Egypt         45.0        False
ENG    EUR                 England          NaN         True

#### Example - 5 (Write Data Frame to file)

**Write cars_df to cars_df_to_csv.csv**

In [30]:
cars_df.to_csv('cars_df_to_csv.csv')