In [26]:
a = [10,20,30]

In [27]:
b = [20]

In [22]:
#a[len(a):] = [b]
c =[]
c = a.extend(a)
print(c)

None

In [29]:
c = a[len(a):] = b
a

[10, 20, 30, 20, 20]

In [30]:
mylist = [10,5,4,3,6,4]

In [32]:
mylist.insert(2,b)
mylist

[10, 5, [20], [20], 4, 3, 6, 4]

In [34]:
mylist.remove(4)

In [36]:
mylist

[10, 5, [20], [20], 3, 6, 4]

In [37]:
# It works for on the value
# we need to pass the value here
mylist.remove(1)
mylist

ValueError: list.remove(x): x not in list

In [39]:
# It works for on the index
# we need to pass the index value here

mylist.pop(1)

[20]

In [41]:
c =mylist

In [43]:
c

[10, [20], 3, 6, 4]

In [45]:
# clear is equal to the del
# It delete or flush out all the values from the list

c.clear()

In [47]:
# C get emplty
c

[]

In [48]:
# del name_of _list = [:]
b = mylist

In [53]:
del b[:]

In [54]:
b

[]

In [57]:
mylist = [20,3,6,1,0]

In [58]:
# Sort vs Sorted
"""
The primary difference between the list sort() function 
and the sorted() function is that the sort() function will modify the list it is called on. 
The sorted() function will create a new list containing a sorted version of the list it is given. 
... The sort() function modifies the list in-place and has no return value.
"""

# Changes happend on the origanl list
mylist.sort()
mylist

[0, 1, 3, 6, 20]

In [61]:
# Can to apply sorting on the actual list

In [63]:

c = sorted(mylist)
c

[0, 1, 3, 6, 20]

In [64]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [67]:
# Accept the value
fruits.count('orange')

1

In [69]:
fruits.count(c)

0

In [75]:
# We can use list as a queue

from collections import deque

queue = deque([1,2,3,4,6,9,0])
queue

deque([1, 2, 3, 4, 6, 9, 0])

In [79]:
queue.append(5)

In [81]:
queue

deque([1, 2, 3, 4, 6, 9, 0, 5, 5])

In [82]:
queue.popleft()

1

In [84]:
queue.pop()

5

In [97]:
list_fruits = ['Orange', 'Apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [99]:
sor_fru_list = sorted(list_fruits,key=str.lower,reverse=False)

In [101]:
sor_fru_list

['Apple', 'apple', 'banana', 'banana', 'kiwi', 'Orange', 'pear']

In [106]:

def fu(student):
    return student[2]

student_tuples = [
    ('john', 'A', 15),
    ('jane', 'B', 12),
    ('dave', 'B', 10),
]
sorted(student_tuples, key=fu)   # sort by age

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [110]:
List = ['G','E','E','K','S','F', 
        'O','R','G','E','E','K','S'] 

c = sum()

TypeError: unsupported operand type(s) for +: 'int' and 'str'